.cart-item-div {
  display: flex;
  height: 200px;
  position: relative;
  border: 1px solid black;
  margin-top: 20px;
}
.item-title {
  color: white;
  font-size: 22px;
}
.item-price {
  color: yellow;
  position: absolute;
  top: 60px;
  right: 60px;
  font-size: 20px;
}
.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;

  cursor: pointer;
}
.item-quantity {
  color: grey;
}
.cart-image {
  position: relative;
  top: 10px;
  left: 20px;
}
.item-size {
  color: grey;
}
.item-properties {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 40px;
  top: 50px;
}
