.cart-item-div {
  display: flex;
  height: 200px;
  justify-content: space-around;
  border: 1px solid black;
  margin-top: 20px;
}
.item-title {
  color: white;
  font-size: 22px;
}
.item-price {
  color: yellow;
  position: relative;
  top: 80px;
  left: 70px;
  font-size: 20px;
}
.delete-icon {
  position: relative;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.item-quantity {
  color: grey;
}
.cart-image {
  position: relative;
  top: 10px;
}
.item-size {
  color: grey;
}
.item-properties {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 70px;
  top: 50px;
}
