.cart-header {
  display: flex;
  height: 100px;
  justify-content: center;
  border: solid 1px black;
}
.cart-count {
  background-color: yellow;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: black;
  text-align: center;
  position: relative;
  top: 30px;
  right: 10px;
}
.cart-heading {
  top: 10px;
  font-size: 30px;
  position: relative;
}
