.size {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(128, 128, 128);

  color: black;

  border: none;
  margin: 4px 4px;
  cursor: pointer;
}
.selected-size {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;

  color: white;

  border: none;
  margin: 4px 4px;
  cursor: pointer;
}
.Filter {
  position: relative;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 250px;
}
