.all-products {
  width: 1500px;
  display: flex;
  flex-wrap: wrap;
}
.sort {
  position: absolute;
  right: 180px;
  top: 40px;
}
.product-count {
  position: absolute;
  left: 280px;
  top: 50px;
}
