.item-div {
  width: 350px;
  height: 650px;
  position: relative;
  left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  --v: black;
}
.item-div:hover {
  border: 1px solid;
  --v: rgba(187, 255, 0, 0.842);
}
.cart {
  background-color: var(--v);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  bottom: 0px;
  position: absolute;
  width: 250px;
  font-size: 20px;
}

.free-ship {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black;
  width: 80px;
  height: 25px;
  color: white;
  text-align: center;
  font-size: 12px;
}
