.cart-footer {
  display: flex;
  height: 200px;
  justify-content: space-around;
  border: 1px solid black;
}
.footer-heading {
  color: grey;
  font: 22px;
  position: relative;

  top: 30px;
}
.total-price {
  color: yellow;
  font-size: 24px;
  position: relative;

  top: 30px;
}
.empty-cart {
  font-size: 30px;
  text-align: center;
}

.check-out {
  position: relative;
  top: 70px;
  background-color: black;
  height: 60px;
  width: 200px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
}
