.cart-footer {
  display: flex;
  height: 200px;
  justify-content: space-around;
  border: 1px solid black;
}
.footer-heading {
  color: grey;
  font: 22px;
  position: relative;
  right: 100px;
  top: 30px;
}
.total-price {
  color: yellow;
  font-size: 24px;
  position: relative;
  left: 100px;
  top: 30px;
}
