.cart-footer {
  display: flex;
  height: 200px;
  justify-content: space-around;
  border: 1px solid black;
}
.footer-heading {
  color: grey;
  font: 22px;
  position: relative;
  right: 100px;
  top: 30px;
}
.total-price {
  color: yellow;
  font-size: 24px;
  position: relative;
  left: 100px;
  top: 30px;
}
.empty-cart {
  font-size: 30px;
  text-align: center;
}
.cart-count {
  background-color: yellow;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: black;
  text-align: center;
  position: relative;
  top: 30px;
  right: 10px;
}
.cart-count-hide {
  visibility: hidden;
}
